header {
    position: fixed;
    top: 0;
    left: 0;
    height: 200px;
    width: 100%;
    background-color: white;
}

#RedesSociais {
    position: absolute;
    display: inline-block;
    top: 10px;
    right: 0;
}

#Logo {
    height: 133px;
    width: 100%;
    display: inline-block;
}

#Logo > p {
    position: absolute;
    top: 0px;
    left: 20%;
    color: black;
    font-family: "Courier New",Courier,"Lucida Sans Typewriter","Lucida Typewriter",monospace;
    font-size: 3em;
}

/*header > nav > ul {
    background-color: cornflowerblue;
}
*/

header > nav > ul > li {
    background-color: cornflowerblue;
    display: inline-block;
    text-decoration: none;
    color: white;
    width: calc(100% / 3);
    text-align: center;
    height: 2em;
    line-height: 2em;
}

header > nav > ul > li > a {
    text-decoration: none;
    color: white;
}

header > nav > ul > li > ul {    /*dentro das adoçoes*/
    display: none;
}

header > nav > ul :hover {
    display: inline-block;
    background-color: cadetblue;
    width: calc(100% / 3);
}

body:not(.header){
    position: absolute;
    top: 200px;
}