html{
    background-color: beige;
}
header {
    position: fixed;
    top: 0;
    left: 0;
    height: 195px;
    width: 100%;
    background-color: white;
    z-index: 500;
}
footer {
    background-color: cadetblue;
    height: 200px;
}

footer > div {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    text-align:  center;
    font-family: 'Poppins', sans-serif;
    color: white;
    text-decoration-color: white;
}

footer a {
    color: white;
}

hr {
    margin-bottom: 0;
}

body {
    left: -8px;
}

hr {
    margin-bottom: 0;
}

footer {
    background-color: darkgrey;
    height: 200px;
}

footer > div {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    text-align:  center;
}

#RedesSociais {
    position: absolute;
    display: inline-block;
    top: 10px;
    right: 0;
}

#Logo {
    height: 133px;
    width: 100%;

}

#Logo > p {
    position: relative;
    left: 265px;
    color: black;
    font-family: 'Poppins', sans-serif;
    top: -90%;
    transform: translateY(-50%);
    font-size: 3.5em;

}

header > nav > ul {
    width: 100%;
    position: relative;
    float: right;
}

header > nav > ul > li {
    background-color: darkseagreen;
    display: inline-block;
    text-decoration: none;
    color: white;
    width: calc(100% / 3);
    text-align: center;
    height: 2em;
    line-height: 2em;
    font-family: 'Poppins', sans-serif;
    font-size: 1.5em;

    }

header > nav > ul > li > a {
    text-decoration: none;
    color: white;
}

header > nav > ul > li > ul { /*dentro das adoçoes*/
    display: none;
}

header > nav > ul :hover {
    display: inline-block;
    background-color: cadetblue;
    width: calc(100% / 3);
}

.titulo {
    font-family: 'Poppins', sans-serif;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}


.imageminicial{
    width: 100%;
}

.texto {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-family: 'Poppins', sans-serif;
}

video {
    display: block;
    width: 640px;
    margin-left: auto;
    margin-right: auto;
}

.data {
    position: absolute;
    right: 10px;
    top: -0.75em;
}

.d{
    position: relative;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

body:not(.header) {
    position: absolute;
    top: 189px;
    width: 100%;
}


.imagemetexto{
    position: relative;
}
.imagemeventos{
    display: inline-block;
    position: relative;
}
.textoeventos{
    margin: 30px;
    display: inline-block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-family: 'Poppins', sans-serif;
    font-size: 1.2em;
}

.ajudar>p{
    display: inline-block;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    font-family: 'Poppins', sans-serif;
    width: 60%;

}
.ajudar>img{
    display: inline-block;
    position: absolute;
}
.ajudar{
    height: 272px;
    position: relative;
    width: 80%;
    margin-right: auto;
    margin-left: auto;

}
.nomeanimal{
    margin-left: 20px;
}

.grid2 {
    width: 50%;
    margin:auto;
    box-sizing: border-box;
    text-align: center;
}

.row2 {
    clear: both;
}

[class*='col2'] {
    float: left;
    width: 50%; /*calc(100% * 60 / 940);*/
}

[class*='col2']:first-child {
    margin-left: 0;
}

[class*='col2d']{
    background: darkseagreen;
}

[class*='col2e']{
    background: cadetblue;
}

.row2 .empty{
    height:20px;
}

.grid {
    position: relative;
    width: 100%;
    box-sizing: border-box;
    margin-left: calc((100% - (432px * 2) - 20%) / 2);
    margin-top: 3%;
}

.col {
    float: left;
    width: 432px;
    padding: 0 5%;
    text-align: center;
}

.col > a > h2 {
    text-align: left;
}

.row {
    clear: both;
}

.row.empty {
    height: 20px;
}