header {
    position: fixed;
    top: 0;
    left: 0;
    height: 200px;
    width: 100%;
    background-color: white;
    z-index: 500;
}

body {
    left: -8px;
}

hr {
    margin-bottom: 0;
}

footer {
    background-color: darkgrey;
    height: 200px;
}

footer > div {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    text-align:  center;
}

#RedesSociais {
    position: absolute;
    display: inline-block;
    top: 10px;
    right: 0;
}

#Logo {
    height: 133px;
    width: 100%;
    display: inline-block;
}

#Logo > p {
    position: absolute;
    top: 0;
    left: 265px;
    color: black;
    font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
    font-size: 3em;
}

header > nav > ul {
    width: 100%;
    position: relative;
    float: right;
}

header > nav > ul > li {
    background-color: cornflowerblue;
    display: inline-block;
    text-decoration: none;
    color: white;
    width: calc(100% / 3);
    text-align: center;
    height: 2em;
    line-height: 2em;
}

header > nav > ul > li > a {
    text-decoration: none;
    color: white;
}

header > nav > ul > li > ul { /*dentro das adoçoes*/
    display: none;
}

header > nav > ul :hover {
    display: inline-block;
    background-color: cadetblue;
    width: calc(100% / 3);
}

.titulo {
    font-family: "azo-sans-web", sans-serif;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.texto {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

video {
    display: block;
    width: 640px;
    margin-left: auto;
    margin-right: auto;
}

.data {
    position: absolute;
    right: 0;
    top: 0;
}

.d{
    position: relative;
    display: inline-block;
    width: 90%;
    left: 5%;
}

.d > p{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.d:nth-child(1) > p{
    left: 380px;
    width: calc(100% - 380px);
}

.d:nth-child(2) > p , .d:nth-child(3) > p , .d:nth-child(4) > p{
    left: 490px;
    width: calc(100% - 490px);
}

body:not(.header) {
    position: absolute;
    top: 200px;
    width: 100%;
}

.imageminicial {
    width: 100%;
}

.ajudar {
    position: relative;
    width: 80%;
    left: 10%;
    height: 272px;
}

.ajudar > p {
    position: absolute;
    width: calc(100% - 370px);
    top: 50%;
    transform: translateY(-50%);
    text-align: right;
}

.ajudar > img {
    position: relative;
    left: calc(100% - 362px);
}

.grid {
    position: relative;
    width: 100%;
    box-sizing: border-box;
    margin-left: calc((100% - (432px * 2) - 20%) / 2);
}

.col {
    float: left;
    width: 432px;
    padding: 0 5%;
    text-align: center;
}

.col > a > h2 {
    text-align: left;
}

.col:nth-child(2), .col:nth-child(4), .col:nth-child(6), .col:nth-child(8) {
}

.row {
    clear: both;
}

.row.empty {
    height: 20px;
}